<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    template="../template.xhtml"
    >
    <ui:define name="sidebar">
        <p:submenu label="Cliente">
            <p:menuitem value="Pedidos" url="./pedidos.xhtml" icon="pi pi-home"/>
            <p:menuitem value="Solicitar" url="./solicitar.xhtml" icon="pi pi-plus"/>
        </p:submenu>
    </ui:define>
    <ui:define name="content">
        <h1>Pedidos</h1>
        <h:form id="form">
            <p:dataTable
                id="pedidos-table"
                var="pedido"
                value="#{pedidoMB.pedidos}"
                widgetVar="pedidosTable"
                rows="10"
                paginator="true"
                paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                emptyMessage="Nenhum pedido encontrado"
                >
                <f:facet name="header">
                    <p:inputText id="globalFilter" onkeyup="PF('pedidosTable').filter()" style="width:150px" placeholder="ID do pedido"/>
                </f:facet>
                <p:column headerText="ID" sortBy="#{pedido.idPedido}" filterBy="#{pedido.idPedido}" filterStyle="display:none">
                    <h:outputText value="#{pedido.idPedido}"/>
                </p:column>
                <p:column headerText="Data" sortBy="#{pedido.prazoTotal}">
                    <h:outputText value="#{pedido.prazoTotal}"/>
                </p:column>
                <p:column headerText="Preço" sortBy="#{pedido.precoTotal}">
                    <h:outputText value="R$#{pedido.precoTotal}"/>
                </p:column>
                <p:column headerText="Situação" sortBy="#{pedido.situacao.descricao}">
                    <h:outputText value="#{pedido.situacao.descricao}"/>
                </p:column>
                <p:column headerText="Ações">
                    <p:commandButton update="@form" oncomplete="PF('pedidoDialog').show()" icon="pi pi-eye" title="Detalhes">
                        <f:setPropertyActionListener value="#{pedido}" target="#{pedidoMB.pedidoSelecionado}" />
                    </p:commandButton>
                    <p:commandButton update=":form:pedidos-table" action="#{pedidoMB.cancelar(pedido.idPedido)}" icon="pi pi-ban" title="Cancelar">
                        <p:confirm header="Cancelar pedido" message="Tem certeza que deseja cancelar o pedido?" icon="pi pi-exclamation-triangle"/>
                    </p:commandButton>
                </p:column>
            </p:dataTable>
            <p:dialog id="detalhesPedido" header="Detalhes do pedido" widgetVar="pedidoDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                <p:panelGrid rendered="#{not empty pedidoMB.pedidoSelecionado}">
                    <p:row>
                        <p:column colspan="2"><h:outputText value="ID"/></p:column>
                        <p:column colspan="2"><h:outputText value="#{pedidoMB.pedidoSelecionado.idPedido}"/></p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="2"><h:outputText value="Prazo"/></p:column>
                        <p:column colspan="2"><h:outputText value="#{pedidoMB.pedidoSelecionado.prazoTotal}"/></p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="2"><h:outputText value="Preço"/></p:column>
                        <p:column colspan="2"><h:outputText value="R$#{pedidoMB.pedidoSelecionado.precoTotal}"/></p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="2"><h:outputText value="Situação"/></p:column>
                        <p:column colspan="2"><h:outputText value="#{pedidoMB.pedidoSelecionado.situacao.descricao}"/></p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="4" styleClass="ui-widget-header"><h:outputText value="Roupas"/></p:column>
                        <ui:repeat value="#{pedidoMB.pedidoSelecionado.roupas}" var="roupa">
                            <p:row>
                                <p:column><h:outputText value="#{roupa.nome}"/></p:column>
                                <p:column><h:outputText value="#{roupa.tipo.descricao}"/></p:column>
                                <p:column><h:outputText value="#{roupa.tipo.prazo}"/></p:column>
                                <p:column><h:outputText value="R$#{roupa.tipo.preco}"/></p:column>
                            </p:row>
                        </ui:repeat>
                    </p:row>
                </p:panelGrid>
            </p:dialog>
            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes" icon="pi pi-check" update="@form"/>
                <p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no" icon="pi pi-times"/>
            </p:confirmDialog> 
        </h:form>
    </ui:define>
</ui:composition>
