<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    template="../template.xhtml"
    >
    <ui:define name="sidebar">
        <p:submenu label="Cliente">
            <p:menuitem value="Pedidos" url="./pedidos.xhtml" icon="pi pi-home"/>
            <p:menuitem value="Solicitar" url="./solicitar.xhtml" icon="pi pi-plus"/>
        </p:submenu>
    </ui:define>
    <ui:define name="content">
        <h1>Solicitar pedido</h1>
        <h:form>
            <p:panel>
                <f:facet name="header">
                    <h:outputText value="Total"/>
                </f:facet>
                <div class="p-grid p-justify-between p-align-center" style="text-align:center">
                    <div class="p-col">
                        <h:outputText id="pedidoPrazo" value="Prazo: #{pedidoMB.pedido.prazoTotal}"/>
                    </div>
                    <div class="p-col">
                        <h:outputText id="pedidoPreco" value="Preço: R$#{pedidoMB.pedido.precoTotal}"/>
                    </div>
                    <div class="p-col">
                        <p:commandButton value="Concluir" icon="pi pi-check" action="#{pedidoMB.cadastrar()}"/>
                    </div>
                </div>
                <div class="p-grid p-justify-between p-align-center" style="text-align:center">
                    <div class="p-col">
                        <p:outputLabel for="@next" value="Roupa:"/>
                        <p:inputText value="#{pedidoMB.roupaSelecionada.nome}"/>
                    </div>
                    <div class="p-col">
                        <p:outputLabel for="@next" value="Tipo:"/>
                        <p:selectOneMenu id="input-tipos" value="#{pedidoMB.roupaSelecionada.tipo.idTipo}" dynamic="true">
                            <f:selectItems
                                value="#{pedidoMB.tipos}"
                                var="tipo"
                                itemLabel="#{tipo.descricao}"
                                itemValue="#{tipo.idTipo}"/>
                        </p:selectOneMenu>
                    </div>
                    <div class="p-col">
                        <p:commandButton value="Adicionar" icon="pi pi-plus" action="#{pedidoMB.adicionar()}" update="@form"/>
                    </div>
                </div>
            </p:panel>
            <p:outputPanel id="roupas">
                <p:panel>
                    <f:facet name="header">
                        <h:outputText value="Roupas"/>
                    </f:facet>
                    <ui:repeat var="roupa" value="#{pedidoMB.pedido.roupas}">
                        <div class="p-grid p-justify-between p-align-center" style="text-align:center">
                            <div class="p-col">
                                <h:outputText value="#{roupa.nome}"/>
                            </div>
                            <div class="p-col">
                                <h:outputText value="#{roupa.tipo.descricao}"/>
                            </div>
                            <div class="p-col">
                                <h:outputText value="#{roupa.tipo.prazo}"/>
                            </div>
                            <div class="p-col">
                                <h:outputText value="R$#{roupa.tipo.preco}"/>
                            </div>
                            <div class="p-col">
                                <p:commandButton icon="pi pi-minus" action="#{pedidoMB.remover(roupa)}" update="@form"/>
                            </div>
                        </div>
                    </ui:repeat>
                </p:panel>
            </p:outputPanel>
        </h:form>
    </ui:define>
</ui:composition>
