/* Layout */

@import url('https://fonts.googleapis.com/css?family=Montserrat:300|Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem !important;
    color: black;
    background-color: #F5F7F9;
    width: 100%;
    height: 100vh;
}

.main {
    width: 100%;
    margin: 0 !important;
}

.sidebar, .content, .header {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px 1px;
}

.sidebar, .content {
    margin: 1rem;
    border-radius: 2px;
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar {
    padding: 0 !important;
}

.content {
    padding: 1rem !important;
}

.auth {
    height: 100%;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    text-align: center;
}

.sidebar-menu {
    width: 100%;
    border: none !important;
}

input {
    width: 100%;
}

label {
    display: block;
}

td {
    text-align: center;
    padding: 0 .5rem !important;
}

/* PrimeFaces */

.ui-panel-footer {
    display: flex;
    justify-content: space-around;
}

.ui-panelgrid-content {
    border: none !important;
}

.ui-selectonemenu {
    width: 100% !important;
    min-width: 0 !important;
}