<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    template="../template.xhtml"
    >
    <ui:define name="sidebar">
        <p:submenu label="Funcionário">
            <p:menuitem value="Pedidos" url="#" icon="pi pi-home"/>
            <p:menuitem value="TADS" url="#" icon="pi pi-globe"/>
            <p:menuitem value="Roupas" url="#" icon="pi pi-tags"/>
            <p:menuitem value="Funcionarios" url="#" icon="pi pi-users"/>
            <p:menuitem value="Relatórios" url="#" icon="pi pi-copy"/>
        </p:submenu>
    </ui:define>
    <ui:define name="content">
        <h1>Pedidos</h1>
        <p:dataTable>
            <p:column headerText="ID">
            </p:column>
            <p:column headerText="Data/Hora">
            </p:column>
            <p:column headerText="Situação">
            </p:column>
            <p:column headerText="Ação">
            </p:column>
        </p:dataTable>
    </ui:define>
</ui:composition>
