<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    >
    <h:head>
        <title>LOL - Lavanderia OnLine</title>
        <link rel="stylesheet" href="./css/style.css"/>
        <link rel="stylesheet" href="./css/primeflex.css"/>
    </h:head>
    <h:body>
        <div class="p-grid p-justify-center p-align-center main auth">
            <div class="p-col-12 p-md-6 p-lg-6">
                <h:form>
                    <p:panel>
                        <f:facet name="header">
                            <h1>LOL - Lavanderia OnLine</h1>
                        </f:facet>
                        <h3 style="text-align:center">Cadastro</h3>
                        <div class="p-grid">
                            <div class="p-col-12">
                                <p:outputLabel for="@next" value="Nome:"/>
                                <p:inputText value="#{clienteMB.cliente.nome}"/>
                            </div>
                            <div class="p-col-12 p-md-4">
                                <p:outputLabel for="@next" value="CPF:"/>
                                <p:inputText value="#{clienteMB.cliente.cpf}"/>
                            </div>
                            <div class="p-col-12 p-md-4">
                                <p:outputLabel for="@next" value="Telefone:"/>
                                <p:inputText value="#{clienteMB.cliente.telefone}"/>
                            </div>
                            <div class="p-col-12 p-md-4">
                                <p:outputLabel for="@next" value="Sexo:"/>
                                <p:selectOneMenu value="#{clienteMB.cliente.sexo}">
                                    <f:selectItem itemLabel="Selecione" itemValue=""/>
                                    <f:selectItem itemLabel="Masculino" itemValue="M"/>
                                    <f:selectItem itemLabel="Feminino" itemValue="F"/>
                                </p:selectOneMenu>
                            </div>
                            <div class="p-col-12 p-md-5">
                                <p:outputLabel for="@next" value="Logradouro:"/>
                                <p:inputText value="#{clienteMB.cliente.endereco.logradouro}"/>
                            </div>
                            <div class="p-col-6 p-md-2">
                                <p:outputLabel for="@next" value="Número:"/>
                                <p:inputText value="#{clienteMB.cliente.endereco.numero}"/>
                            </div>
                            <div class="p-col-6 p-md-3">
                                <p:outputLabel for="@next" value="CEP:"/>
                                <p:inputText value="#{clienteMB.cliente.endereco.cep}"/>
                            </div>
                            <div class="p-col-12 p-md-4">
                                <p:outputLabel for="@next" value="Estado:"/>
                                <p:selectOneMenu id="input-estados" value="#{clienteMB.cliente.endereco.estado.idEstado}">
                                    <f:selectItem itemLabel="Selecione" itemValue=""/>
                                    <f:selectItems
                                        var="estado"
                                        value="#{enderecoMB.estados}"
                                        itemLabel="#{estado.nome}"
                                        itemValue="#{estado.idEstado}"/>
                                    <f:ajax event="change"
                                            execute="input-estados"
                                            render="input-cidades"
                                            listener="#{enderecoMB.buscarEstadoCidades(clienteMB.cliente.endereco.estado.idEstado)}" />
                                </p:selectOneMenu>
                            </div>
                            <div class="p-col-12 p-md-4">
                                <p:outputLabel for="@next" value="Cidade:"/>
                                <p:selectOneMenu id="input-cidades" value="#{clienteMB.cliente.endereco.cidade.idCidade}" dynamic="true">
                                    <f:selectItem itemLabel="Selecione o estado" itemValue=""/>
                                    <f:selectItems
                                        var="cidade"
                                        value="#{enderecoMB.cidades}"
                                        itemLabel="#{cidade.nome}"
                                        itemValue="#{cidade.idCidade}"/>
                                </p:selectOneMenu>
                            </div>
                            <div class="p-col-12 p-md-4">
                                <p:outputLabel for="@next" value="Bairro:"/>
                                <p:inputText value="#{clienteMB.cliente.endereco.bairro}"/>
                            </div>
                            <div class="p-col-12 p-md-6">
                                <p:outputLabel for="@next" value="Email:"/>
                                <p:inputText value="#{clienteMB.cliente.email}"/>
                            </div>
                            <div class="p-col-12 p-md-6">
                                <p:outputLabel for="@next" value="Senha:"/>
                                <p:password value="#{clienteMB.cliente.senha}"/>
                            </div>
                        </div>
                        <f:facet name="footer">
                            <p:commandButton action="index.xhtml" value="Voltar" icon="pi pi-arrow-left"/>
                            <p:commandButton action="#{clienteMB.cadastrar()}" value="Cadastrar" icon="pi pi-check"/>
                        </f:facet>
                    </p:panel>
                </h:form>
            </div>
        </div>
        <script src="./js/script.js"></script>
    </h:body>
</html>
