<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    >
    <h:head>
        <title>LOL - Lavanderia OnLine</title>
        <link rel="stylesheet" href="/lol/css/style.css"/>
        <link rel="stylesheet" href="/lol/css/primeflex.css"/>
    </h:head>
    <h:body>
        <div class="p-grid p-justify-center p-align-center main auth">
            <div class="p-col-12 p-md-4 p-lg-4">
                <h:form>
                    <p:panel>
                        <f:facet name="header">
                            <h1>LOL - Lavanderia OnLine</h1>
                        </f:facet>
                        <h3 style="text-align:center">Autenticação</h3>                        
                        <div class="p-grid">
                            <div class="p-col-12">
                                <p:outputLabel for="@next" value="Email:"/>
                                <p:inputText value="#{authMB.usuario.email}"/>
                            </div>
                            <div class="p-col-12">
                                <p:outputLabel for="@next" value="Senha:"/>
                                <p:password value="#{authMB.usuario.senha}"/>
                            </div>
                            <p:commandLink class="p-col" action="#{authMB.register()}">
                                <h:outputText value="Não possui conta? Cadastre-se"/>
                            </p:commandLink>
                        </div>
                        <f:facet name="footer">
                            <p:commandButton action="#{authMB.login()}" value="Entrar" icon="pi pi-sign-in"/>
                        </f:facet>
                    </p:panel>
                </h:form>
            </div>
        </div>
        <script src="/lol/js/script.js"></script>
    </h:body>
</html>
