<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    >
    <h:head>
        <title>LOL - Lavanderia OnLine</title>
        <link rel="stylesheet" href="/lol/css/style.css"/>
        <link rel="stylesheet" href="/lol/css/primeflex.css"/>
    </h:head>
    <h:body>
        <h:form>
            <p:growl id="msg" showDetail="true" sticky="true" life="3000"/>
        </h:form>
        <div class="p-grid main">
            <div class="p-col-12 p-col-fixed header">
                <h1>LOL - Lavanderia OnLine</h1>
                <h:outputText value="Usuário: #{authMB.usuario.email}"/>
                <h:form>
                    <p:commandButton action="#{authMB.logout()}" value="Sair" icon="pi pi-sign-out"/>
                </h:form>
            </div>
            <div class="p-col p-md-2 sidebar">
                <h:form>
                    <p:menu class="sidebar-menu">
                        <ui:insert name="sidebar"></ui:insert>
                    </p:menu>
                </h:form>
            </div>
            <div class="p-col content">
                <ui:insert name="content"></ui:insert>
            </div>
        </div>
        <script src="/lol/js/script.js"></script>
    </h:body>
</html>
